<section class = "botNav">
    <!-- Tabs that expand some information -->
    <div>
        <div>CREATIVE STRATEGY</div>
        <div>GROW, CONVERT, AND MONETIZE YOUR AUDIENCE!</div>
    </div>
    <div>
        <div>INFLUENCER MARKETING</div>
        <div>Achieving maximum ROI via performance-forecasted influencer marketing!</div>
    </div>
    <div>
        <div>AUTOFUNNELS</div>
        <div>A new channel of communication with audience, which helps to increase sales</div>
    </div>
    <div>
        <div>SMM & COMMUNITY MANAGEMENT</div>
        <div>Interact with your audience in their social networks feed</div>
    </div>
</section>