<section class = "topNav">
    <a class = "flexible center" href="/"><img class = "logo" 
        src="/img/star.png" alt="Logo1"></a>
    <a class = "flexible center" href="l"><img class = "logo" 
        src="/img/star.png" alt="Logo2"></a>
    <nav class = "">
        <a href="/form/project"><p>Projects</p></a>
        <a href=""><p>option 3</p></a>
        <a href="/form/about"><p>About</p></a>
    </nav>
</section>