    <body>
        <section class = "flexible center"> 
            <div class = "motd">WE ARE</div>
        </section>
        
        <section class = "flexible center">
            <div class = "motd border">
                SMART.<br>EFFICIENT.<br>WORLDWIDE. <br>
            </div>
        </section>

        <section class = "flexible center">
            <div>
                <p class = "para">
                    Zorka.Agency is an international digital marketing agency focused on creating ROI-forecasted strategies with a risk assessment that help businesses scale up.​
                </p>
                <p class = "para">
                    At Zorka.Agency, we treat our clients as our partners. Having global experience in digital marketing, we dig right into the business's needs and goals and offer an original mix of technologies, traffic channels, creative formats, and unconventional methods to reach the client's target audience.
                </p>
            </div>
        </section>

        <section class = "flexible push-right experts">
            <div>
                <div class = "motd">
                    KEY<br>MARKET<br>EXPERTS<br>
                </div>
                <div class = "expertsList">
                   <div>
                       <div>Dmitry</div>
                       <div>AGENCY DIRECTOR</div>
                   </div>
                   <div>
                        <div>Anastasia</div>
                        <div>CHIEF COMMERCIAL OFFICER</div>
                    </div> 
                    <div>
                        <div>Kirill</div>
                        <div>STRATEGY DIRECTOR</div>
                    </div>  
                </div>
            </div>
        </section>

        <section>
            <div class = "motd">
                CERTIFIED BY
            </div>
            
        </section>
    </body>