<!DOCTYPE html5>
<html>
    <head>
        <title>SITE TITLE HERE</title>
        <meta content = "BIT Web 1 project, by Lennox Blades, based on this site 
            https://zorka.agency/">
        <script src="js/main.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <section class = "topNav">
            <a class = "flexible center" href="index.html"><img class = "logo" 
                src="img/star.png" alt="Logo1"></a>
            <a class = "flexible center" href="l"><img class = "logo" 
                src="img/star.png" alt="Logo2"></a>
            <nav class = "">
                <a href="project.ejs"><p>Projects</p></a>
                <a href=""><p>option 3</p></a>
                <a href="about.ejs"><p>About</p></a>
            </nav>
        </section>

        <section class = "">
            <div class = "flexible motd">
                THIS IS...
            </div>
            <div class = "flexible reverse">
                <div class = "push-right motd">
                    ...THE MOTD
                </div>
                <div class = "scroll"><a href="">scroll down</a>
                </div>
            </div>
        </section>

        <section class = "flexible center">
            <div class = "para">
                Some day this is going to be<br>
                a paragraph, and it is going<br>
                to be awesome!
            </div>
        </section>

        <section class = "verticle">
            <div class = "flexible center" >This is a title</div>
            <div class = "flexible center">This is a sentance</div>
            <div class = "flexible center">
                <div>row 1</div>
                <div>row 1</div>
                <div>row 1</div>
            </div>
            <div class = "flexible center">
                <div>row 2</div>
                <div>row 2</div>
            </div>
            <div class = "flexible center">
                <div>row 3</div>
            </div>
        </section>

        <section class = "flexible center">
            <div class = "para">
                Some random words...
            </div>
            <div class = "para follower">
                BIG PURPLE WORDS
            </div>
        </section>

        <div class = "copyright">
            Copyright
        </div>
        <div>
            <div></div>
        <div>
            <h1></h1>
            <div></div>
            <ul>
                <li></li>
            </ul>
        </div>
        <footer>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </footer>
    </body>
</html>