    <body>
        <section class = "">
            <div class = "flexible motd">
                THIS IS...
            </div>
            <div class = "flexible reverse">
                <div class = "push-right motd">
                    ...THE MOTD
                </div>
                <div class = "scroll"><a href="">scroll down</a>
                </div>
            </div>
        </section>

        <section class = "flexible center">
            <div class = "para">
                Some day this is going to be<br>
                a paragraph, and it is going<br>
                to be awesome!
            </div>
        </section>

        <section class = "verticle">
            <div class = "flexible center" >This is a title</div>
            <div class = "flexible center">This is a sentance</div>
            <div class = "flexible center">
                <div>row 1</div>
                <div>row 1</div>
                <div>row 1</div>
            </div>
            <div class = "flexible center">
                <div>row 2</div>
                <div>row 2</div>
            </div>
            <div class = "flexible center">
                <div>row 3</div>
            </div>
        </section>

        <section class = "flexible center">
            <div class = "para">
                Some random words...
            </div>
            <div class = "para follower">
                BIG PURPLE WORDS
            </div>
        </section>

        <div class = "copyright">
            Copyright
        </div>
        <div>
            <div></div>
        <div>
            <h1></h1>
            <div></div>
            <ul>
                <li></li>
            </ul>
        </div>
        <footer>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </footer>
    </body>
</html>