<body>
    <!-- The page title -->
    <section class = "">
        <div class = "flexible motd">
            THE WHOLE<span>&nbspDIGITAL</span>
        </div>
        <div class = "flexible reverse">
            <div class = "push-right motd">
                MIX IS<br><span>RIGHT HERE</span> 
            </div>
            <div class = "scroll"><a href="">scroll down</a>
            </div>
        </div>
    </section>

    <!-- Brief summary -->
    <section class = "flexible center">
        <div class = "sentance border">
            We increase LTV and ROI metrics by offering smart<br>
            and creative approaches according to your goals,<br>
            KPIs, and strategic plan
        </div>
    </section>


    <section class = "verticle">
        <div class = "flexible center" >This is a title</div>
        <div class = "flexible center">This is a sentance</div>
        <!-- Creates a set of divs in a triangle formation -->
        <div class = "flexible center">
            <div>row 1</div>
            <div>row 1</div>
            <div>row 1</div>
        </div>
        <div class = "flexible center">
            <div>row 2</div>
            <div>row 2</div>
        </div>
        <div class = "flexible center">
            <div>row 3</div>
        </div>
    </section>

    <section class = "flexible center">
        <div class = "sentance border">
            Some random words...
        </div>
        <div class = "sentance border follower">
            BIG PURPLE WORDS
        </div>
    </section>

    <div class = "copyright">
        Copyright
    </div>
    <div>
        <div></div>
    <div>
        <h1></h1>
        <div></div>
        <ul>
            <li></li>
        </ul>
    </div>
    <footer>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </footer>
</body>