<!DOCTYPE html>
<html>
    <head>
        <title>SITE TITLE HERE</title>
        <meta content = "BIT Web 1 project, by Lennox Blades, based on this site 
            https://zorka.agency/">
        <script src="js/main.js"></script>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    
    <body>
        <%- include ('partials/topnav.ejs') %>
        <%- body %>
    </body>
</html>


