<body>
    <!-- Page title -->
    <section class = "flexible center">
        <div class = "motd">
            PROJECTS
        </div>
    </section>

    <!-- Subtitle, used for the top of the project table -->
    <section class = "project">
        <div>
            sample
        </div>
        <div class = "project">
            <div>
                header1
            </div>
            <div>
                header2
            </div>
        </div>
    </section>

    <!-- A table that contains a list of projects -->
    <section class = "project">
        <div class = "basicborder">
            sample
        </div>
        <div class = "projectrow">
            <div class = "activate">list</div>
            <div class = "collapse">Test collapse</div>

            <div class = "activate">list</div>
            <div class = "collapse">Test collapse</div>

            <div class = "activate">list</div>
            <div class = "collapse">Test collapse</div>

            <div class = "activate">list</div>
            <div class = "collapse">Test collapse</div>
        </div>
    </section>

</body> 