body{
    background: rgb(173, 252, 252);
    color: orange;
    padding: 0px;
    margin: 0px;
    font-size: 3vw;
}
.logo{
    width:15%;
    height:auto;
}
ul{
    margin: 0px;
}
.verticle{
    padding-top: 5vw;
    margin-bottom: 5vw;
}
.follower{
    color: purple;
}
.motd{
    font-size: 8.6vw;
    line-height: 6.6vw;
    padding: 3vw;
}
.center{
    justify-content: center;
    align-items: center;
}
.flexible {
    display: flex; 
    width: 100%;
    box-sizing: border-box;
}
.space{
    justify-content: space-around;
}
.push-right{
    margin-left: auto;
}
.reverse{
    flex-flow: row-reverse wrap;
}
.copyright{
    padding-left: 10.4vw;
    font-size: 1.2vw
}
.para{
    font-size: 2.8vw;
    text-align: center;
    border-bottom: 0.2vw solid black;
    border-top: 0.2vw solid black;
    padding: 5.2vw;
}
div{
    font-size: 100%;
}
.topNav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: rgb(34, 228, 253);
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    
}
nav{
    display: flex;
    justify-content: space-around;
}
h1{
    padding: 0px;
    margin: 0px;
}
.project{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.basicborder{
    border: 0.2vw solid black;;
}
.projectrow div{
    border: 0.2vw solid black;;
}