body{
    background: black;
    color: orange;
    padding: 0px;
    margin: 0px;
}
header{
    
}
.motd1{
    display: flex;
    text-align: left;
}
.motd2{
    
    justify-content: right;
    text-align: right;
}
section{
}
div{
    
}
.topNav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: rgb(34, 228, 253);
}
nav{
    display: flex;
}
h1{
    padding: 0px;
    margin: 0px;
}
div{
    background: rgb(173, 252, 252)
}